<div class="user-card">
  <img class="user-card__avatar" src="{{src}}" alt="avatar" />
  {{#if displayName}}
    <div>{{login}} ({{displayName}})</div>
  {{else}}
    <div>{{login}}</div>
  {{/if}}
</div>
